<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/perfil-e.css">
    <title>Document</title>
</head>
<body>
    <Section>
        
        <form action="">
            <!-- <h1>Perfil de la empresa</h1> -->
            <label for="title_vaga">Title
                <input type="text" id="title_vaga" name="title_vaga">
            </label>
            <label for="location">Location
                <input type="text" id="location" name="location">
            </label>
            <label for="jordana">Jornada
                <input type="text" id="jordana" name="jordana">
            </label>
            <label for="salario">Salario
                <input type="text" id="salario" name="salario">
            </label>
            <label for="beneficios">Beneficios
                <input type="text" id="beneficios" name="beneficios">
            </label>
            <label for="type_contrat">Tipo de contrato
                <input type="text" id="type_contrat" name="type_contrat">
            </label>
            <label for="horario">Horario
                <input type="text" id="horario" name="horario">
            </label>
            <label for="details">Details
                <input type="text" id="details" name="details">
            </label>
            <input class="enviar" type="submit" value="Enviar">
        </form>
    </Section>
    
</body>
</html>