<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/perfil-e.css">
    <title>Document</title>
</head>
<body>
    <Section>
        
        <form action="">
            <h1>Perfil de la empresa</h1>
            <label for="name">Nombre
                <input type="text" id="name" name="name">
            </label>
            <label for="direccion">Direccion
                <input type="text" id="direccion" name="direccion">
            </label>
            <label for="sector">Sector
                <input type="text" id="sector" name="sector">
            </label>
            <label for="description">Description
                <input type="text" id="description" name="description">
            </label>
            <input class="enviar" type="submit" value="Enviar">
        </form>
    </Section>
    
</body>
</html>