<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/perfilm.css">
    <title>Document</title>
</head>
<body>
    <Section>
        <!-- <h1>Perfil del migrante</h1> -->
        <form action="">
            <h1 class="titulo">Perfil del migrante</h1>
            <label for="name">Nombre
                <input type="text" id="name" name="name">
            </label>
            <label for="lastname">Apellido
                <input type="text" id="lastname" name="lastname">
            </label>
            <label for="data-nac">Fecha de necimiento
                <input type="date" id="data-nac" name="data-nac">
            </label>
            <label for="pais-nac">Pais de Nacimiento
                <input type="text" id="pais-nac" name="pais-nac">
            </label>
            <label for="nacionalidad">Nacionalidad
                <input type="text" id="nacionalidad" name="nacionalidad">
            </label>
            <label for="pais_res">Pais donde reside
                <input type="text" id="pais_res" name="pais_res">
            </label>
            <label for="estado-res">Estado
                <input type="text" id="estado-res" name="estado-res">
            </label>
            <label for="ciudad-res">Ciudad
                <input type="text" id="ciudad-res" name="ciudad-res">
            </label>
            <label for="escolaridad">Escolaridad
                <input type="text" id="escolaridad" name="escolaridad">
            </label>
            <input class="enviar" type="submit" value="Enviar">
        </form>
    </Section>
    
</body>
</html>