<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/styles.css">
    <title>Migrantes en acción</title>
</head>
<body>
    <nav class="all">
        <!-- <div class="top">
            <div class="logo"><a href="#"><img src="resources/img/logo-mig.png" alt="" class="logo-top"></a></div>
            <div class="login">
                <a href="/login" class="btn btn-primary">login</a >
            </div>
        </div> -->
        <div class="menu-top">
            <div class="pages">
                <div class="logo"><a href="/"><img src="resources/img/logo-mig.png" alt="" class="logo-top"></a></div>
                <ul>
                    <li><a href="/"><button class="btn"><img src="resources/img/home.png"></button></a></li>
                    <!-- <li><a href="info"><button class="btn">General Information</button></a></li> -->
                    <li><a href="mr"><button class="btn">Migratory Regularization</button></a></li>
                    <li><a href="education"><button class="btn">Education</button></a></li>
                    <li><a href="job"><button class="btn">Job</button></a></li>
                </ul>
            </div>
            <div class="srch-btn">
                <!-- <div class="search">Buscar</div> -->
                <% if (login){ %>
                    <div class="loged">
                        <img src="resources/img/assets/icon-avatar.svg" alt="">
                        <a href="/profile"><p><%= name %></p></a>
                        <!-- <p><%= name %></p> -->
                        <a href="logout" title="Logout"><img src="resources/img/assets/turn-off.svg" alt=""></a>
                    </div>
                <% } else { %>
                    <a href="/login" class="btn btn-primary">login</a >                
                <% } %>
                <div class="gtranslate_wrapper lng-google"></div>
            </div>
            
        </div>
    </nav>
    <section>
        <div class="wellcome">
            <div class="title">Welcome</div>
            <div class="info-title"><p>"Our employment platform connects immigrants and companies. </p><p>We bring together diverse talent and employment opportunities. Discover jobs that match your skills and experience, or find exceptional candidates for your company. Sign up now and start building a successful and diverse professional future together."</p></div>
        </div>
    </section>
    
    <!-- <div class="card-container">
        <div class="card">
            <div class="card-img">
                <img src="resources/img/card (1).jpg" alt="fundo1">
            </div>
            <div class="card-descrip">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos facere saepe placeat, atque natus vel vero ut laboriosam sequi amet, rem asperiores nihil quaerat earum magni animi doloremque! Aspernatur, dignissimos?</p>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="resources/img/card (2).jpg" alt="fundo2">
            </div>
            <div class="card-descrip">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos facere saepe placeat, atque natus vel vero ut laboriosam sequi amet, rem asperiores nihil quaerat earum magni animi doloremque! Aspernatur, dignissimos?</p>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="resources/img/card (3).jpg" alt="fundo3">
            </div>
            <div class="card-descrip">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos facere saepe placeat, atque natus vel vero ut laboriosam sequi amet, rem asperiores nihil quaerat earum magni animi doloremque! Aspernatur, dignissimos?</p>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="resources/img/card (4).jpg" alt="fundo4">
            </div>
            <div class="card-descrip">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos facere saepe placeat, atque natus vel vero ut laboriosam sequi amet, rem asperiores nihil quaerat earum magni animi doloremque! Aspernatur, dignissimos?</p>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="resources/img/card (5).jpg" alt="fundo5">
            </div>
            <div class="card-descrip">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos facere saepe placeat, atque natus vel vero ut laboriosam sequi amet, rem asperiores nihil quaerat earum magni animi doloremque! Aspernatur, dignissimos?</p>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="resources/img/card (1).jpg" alt="fundo1">
            </div>
            <div class="card-descrip">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos facere saepe placeat, atque natus vel vero ut laboriosam sequi amet, rem asperiores nihil quaerat earum magni animi doloremque! Aspernatur, dignissimos?</p>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="resources/img/card (2).jpg" alt="fundo2">
            </div>
            <div class="card-descrip">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos facere saepe placeat, atque natus vel vero ut laboriosam sequi amet, rem asperiores nihil quaerat earum magni animi doloremque! Aspernatur, dignissimos?</p>
            </div>
        </div>
    </div> -->

    
    <script>window.gtranslateSettings = {"default_language":"en","native_language_names":true,"detect_browser_language":true,"languages":["en","fr","pt","ja","es","ht"],"wrapper_selector":".gtranslate_wrapper","switcher_horizontal_position":"inline","float_switcher_open_direction":"bottom","flag_style":"3d","alt_flags":{"pt":"brazil"}}</script>
    <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>  
    <script src="resources/js/bootstrap.bundle.min.js"></script>
    <script src="resources/js/js.js"></script>
</body>
</html>