<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="stylesheet" href="resources/css/job.css">
    <title>Inicio</title>
</head>
<body>
    <nav class="all">
       
        <div class="menu-top">
            <div class="pages">
                <div class="logo"><a href="#"><img src="resources/img/logo-mig.png" alt="" class="logo-top"></a></div>
                <ul>
                    <li><a href="/"><button class="btn"><img src="resources/img/home.png"></button></a></li>
                    
                    <li><a href="mr"><button class="btn">Migratory Regularization</button></a></li>
                    <li><a href="education"><button class="btn">Education</button></a></li>
                    <li><a href="job"><button class="btn">Job</button></a></li>
                </ul>
            </div>
            <div class="srch-btn">
               
                <a href="/login" class="btn btn-primary">login</a >
                <div class="gtranslate_wrapper lng-google"></div>
            </div>
            
        </div>
    </nav>

    <div class="titulo">
    <div class="job-title">
        <h1>Job</h1>
    </div>

    <div class="main-info">
        <p>Descubra trabajos que coincidan con sus habilidades y experiencia, o encuentre candidatos excepcionales para su empresa.</p>
        <div class="busqueda">
            <input type="text" id="input1" placeholder="Ingrese su búsqueda">
            <input type="text" id="input2" placeholder="Ingrese ubicación">
            <button>Buscar</button>
          </div>
        
    </div> 
  </div>

      <div class="container-vagas">

        <!-- Listado de vagas -->
        <div class="lista-vagas">
            <div class="card-vaga" id="card1"><a href="#">
                <h3>DESENVOLVEDOR(A) Fullstack (Junior)</h3>
                <p class="nombre-emp">Randoncorp</p>
                <p class="localidad">Caxias do sul </p>
                <p class="descript">Como membro do pequeno time de tecnologia da TechIn, você irá participar no desenvolvimento, release e suporte do projeto que estamos desenvolvendo.
                  Você atuará diretamente com...</p>
                <p class="data-post">12/05/2023</p></a>                
            </div>
            <div class="card-vaga" id="card2"><a href="#">
                <h3>DESENVOLVEDOR(A) PHP Fullstack Pleno</h3>
                <p class="nombre-emp">Axel Byteblaze</p>
                <p class="localidad">rio de janeiro</p>
                <p class="descript">O Desenvolvedor de Sistemas PHP Fullstack Pleno é responsável por projetar, desenvolver e implementar soluções web usando a linguagem de programação PHP...</p>
                <p class="data-post">22/05/2023</p></a>                
            </div>
            <div class="card-vaga" id="card3"><a href="#">
                <h3>Desenvolvedor full stack - júnior - hídrido</h3>
                <p class="nombre-emp">lolita</p>
                <p class="localidad">Gramado</p>
                <p class="descript">Implementação de UX (User Experience) e CX (Customer Experience)</p>
                <p class="data-post">10/05/2023</p></a>                
            </div>
            <div class="card-vaga" id="card4"><a href="#">
                <h3>DESENVOLVEDOR(A) C++</h3>
                <p class="nombre-emp">Girasol</p>
                <p class="localidad">Porto Alegre</p>
                <p class="descript">A Bairesdev tem orgulho de ser a empresa que mais cresce nas Américas. Nossos times são formados por pessoas do mundo todo e somos tão fortes quanto nossas equipes multiculturais.</p>
                <p class="data-post">20/05/2023</p></a>                
            </div>
            <div class="card-vaga" id="card5"><a href="#">
                <h3>DESENVOLVEDOR(A)</h3>
                <p class="nombre-emp">HotelFlow</p>
                <p class="localidad">Gramado</p>
                <p class="descript">Buscamos pessoas apaixonadas por tecnologia e que gostem de programar.  Desejável bons conhecimentos em HTML5, JavaScript e CSS.</p>

                 
                <p class="data-post">15/05/2023</p></a>                
            </div>
            
            
            
        </div>

        <!-- Detalles de la vaga seleccionada -->
        <div class="details-vaga" id="detalles-vaga">
            
        </div>
    </div>

    <script src="resources/js/job.js"></script>
    <script>window.gtranslateSettings = {"default_language":"en","native_language_names":true,"detect_browser_language":true,"languages":["en","fr","pt","ja","es","ht"],"wrapper_selector":".gtranslate_wrapper","switcher_horizontal_position":"inline","float_switcher_open_direction":"bottom","flag_style":"3d","alt_flags":{"pt":"brazil"}}</script>
    <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script> 
     <script src="resources/js/bootstrap.bundle.min.js"></script>
     <script src="resources/js/js.js"></script>
     <script src="resources/js/job.js"></script>
</body>
</html>