<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/profile.css">
    <link rel="stylesheet" href="resources/css/profile-emp.css">
    <!-- <link rel="stylesheet" href="resources/css/vagas.css"> -->
    <title>Document</title>
</head>
<body class="profile">
    <nav class="all">
        <!-- <div class="top">
            <div class="logo"><a href="#"><img src="resources/img/logo-mig.png" alt="" class="logo-top"></a></div>
            <div class="login">
                <a href="/login" class="btn btn-primary">login</a >
            </div>
        </div> -->
        <div class="menu-top">
            <div class="pages">
                <div class="logo"><a href="#"><img src="resources/img/logo-mig.png" alt="" class="logo-top"></a></div>
                <ul>
                    <li><a href="/"><button class="btn"><img src="resources/img/home.png"></button></a></li>
                    <!-- <li><a href="info"><button class="btn">General Information</button></a></li> -->
                    <li><a href="mr"><button class="btn">Migratory Regularization</button></a></li>
                    <li><a href="education"><button class="btn">Education</button></a></li>
                    <li><a href="job"><button class="btn">Job</button></a></li>
                </ul>
            </div>
            <div class="srch-btn">
                <!-- <div class="search">Buscar</div> -->
                <% if (login){ %>
                    <div class="loged">
                        <img src="resources/img/assets/icon-avatar.svg" alt="">
                        <a href="/profile"><p><%= user %></p></a>
                        <!-- <p><%= name %></p> -->
                        <a href="logout" title="Logout"><img src="resources/img/assets/turn-off.svg" alt=""></a>
                    </div>
                <% } else { %>
                    <a href="/login" class="btn btn-primary">login</a >                
                <% } %>
                <div class="gtranslate_wrapper lng-google"></div>
            </div>
            
        </div>
    </nav>
    <header>
        <div class="portada">
            <img src="resources/img//assets/icon-build.svg" alt="" >
            <h1>Nombre de la Empresa</h1>
            <button class="btn btn-primary">Seguir</button>
            <button class="btn btn-primary">Escriba una reseña</button>
        </div>
        <div class="sections">
            <button class="btn btn-sect" id="sobre">About</button>
            <!-- <button class="btn btn-sect" id="">Junte-se a nós</button> -->
            <button class="btn btn-sect" id="vacant">Vacancies</button>
            <button class="btn btn-sect" id="eval">Assessments</button>
            <button class="btn btn-sect" id="salarios">Salaries</button>
        </div>
    </header>


    <div class="inf-emp" id="about">
        <h2> Info about company </h2>

    </div>

    <!-- Vacantes -->
    <div class="inf-emp container-vagas" id="vacancies">
        <div class="lista-vagas">
            <div class="card-vaga" id="card1"><a >
                <h3>Titulo de la vaga 1</h3>
                <p class="nombre-emp">Nombe de la Empresa</p>
                <p class="localidad">Local de trabajo</p>
                <p class="descript">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusamus voluptate vel, dolores rem reprehenderit quae quibusdam laborum nesciunt minima, sequi harum quaerat placeat aliquid ducimus neque odio quis! Voluptatibus!</p>
                <p class="data-post">01/01/2000</p></a>                
            </div>
            <div class="card-vaga" id="card2"><a >
                <h3>Titulo de la vaga 2</h3>
                <p class="nombre-emp">Nombe de la Empresa</p>
                <p class="localidad">Local de trabajo</p>
                <p class="descript">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusamus voluptate vel, dolores rem reprehenderit quae quibusdam laborum nesciunt minima, sequi harum quaerat placeat aliquid ducimus neque odio quis! Voluptatibus!</p>
                <p class="data-post">01/01/2000</p></a>                
            </div>
            <div class="card-vaga" id="card3"><a >
                <h3>Titulo de la vaga 3</h3>
                <p class="nombre-emp">Nombe de la Empresa</p>
                <p class="localidad">Local de trabajo</p>
                <p class="descript">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusamus voluptate vel, dolores rem reprehenderit quae quibusdam laborum nesciunt minima, sequi harum quaerat placeat aliquid ducimus neque odio quis! Voluptatibus!</p>
                <p class="data-post">01/01/2000</p></a>                
            </div>
            <div class="card-vaga" id="card4"><a >
                <h3>Titulo de la vaga 4</h3>
                <p class="nombre-emp">Nombe de la Empresa</p>
                <p class="localidad">Local de trabajo</p>
                <p class="descript">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusamus voluptate vel, dolores rem reprehenderit quae quibusdam laborum nesciunt minima, sequi harum quaerat placeat aliquid ducimus neque odio quis! Voluptatibus!</p>
                <p class="data-post">01/01/2000</p></a>                
            </div>
            <div class="card-vaga" id="card5"><a >
                <h3>Titulo de la vaga 5</h3>
                <p class="nombre-emp">Nombe de la Empresa</p>
                <p class="localidad">Local de trabajo</p>
                <p class="descript">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusamus voluptate vel, dolores rem reprehenderit quae quibusdam laborum nesciunt minima, sequi harum quaerat placeat aliquid ducimus neque odio quis! Voluptatibus!</p>
                <p class="data-post">01/01/2000</p></a>                
            </div>            
        </div>

        <!-- Detalles de la vaga seleccionada -->
        <div id="detalles-vaga"></div>
    </div>
    <div class="inf-emp" id="aval">
        <h3>Coments </h3>
    </div>
    <div class="inf-emp" id="salary">
        <h4>Salaries</h4>        
    </div>




    <script>window.gtranslateSettings = {"default_language":"en","native_language_names":true,"detect_browser_language":true,"languages":["en","fr","pt","ja","es","ht"],"wrapper_selector":".gtranslate_wrapper","switcher_horizontal_position":"inline","float_switcher_open_direction":"bottom","flag_style":"3d","alt_flags":{"pt":"brazil"}}</script>
    <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>  
    <script src="resources/js/bootstrap.bundle.min.js"></script>
    <script src="resources/js/profile-emp.js"></script>
    <!-- <script src="resources/js/vagas.js"></script> -->
    <script src="resources/js/js.js"></script>
</body>
</html>