<!DOCTYPE html>
<html>
  <head>
    <title>Función interactiva JavaScript</title>
    <link rel="stylesheet" href="/MigrantesActivos/css/prueba.css">
  </head>
  <body>

    
    <div class="container">
        <img src="/MigrantesActivos/img/toti.jpeg" alt="Descripción de la imagen">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed justo eget ante lobortis sagittis eu eget arcu. Nullam scelerisque mauris id massa venenatis, at lacinia arcu commodo. Ut quis nibh a turpis dictum gravida ut sit amet lectus.</p>
      </div>
  </body>
</html>
