<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/vagas.css">
    <title>Document</title>
</head>
<body>
    <div class="container-vagas">

        <!-- Listado de vagas -->
        <div class="lista-vagas">
            <div class="card-vaga" id="card1"><a href="#">
                <h3>Titulo de la vaga 1</h3>
                <p class="nombre-emp">Nombe de la Empresa</p>
                <p class="localidad">Local de trabajo</p>
                <p class="descript">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusamus voluptate vel, dolores rem reprehenderit quae quibusdam laborum nesciunt minima, sequi harum quaerat placeat aliquid ducimus neque odio quis! Voluptatibus!</p>
                <p class="data-post">01/01/2000</p></a>                
            </div>
            <div class="card-vaga" id="card2"><a href="#">
                <h3>Titulo de la vaga 2</h3>
                <p class="nombre-emp">Nombe de la Empresa</p>
                <p class="localidad">Local de trabajo</p>
                <p class="descript">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusamus voluptate vel, dolores rem reprehenderit quae quibusdam laborum nesciunt minima, sequi harum quaerat placeat aliquid ducimus neque odio quis! Voluptatibus!</p>
                <p class="data-post">01/01/2000</p></a>                
            </div>
            <div class="card-vaga" id="card3"><a href="#">
                <h3>Titulo de la vaga 3</h3>
                <p class="nombre-emp">Nombe de la Empresa</p>
                <p class="localidad">Local de trabajo</p>
                <p class="descript">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusamus voluptate vel, dolores rem reprehenderit quae quibusdam laborum nesciunt minima, sequi harum quaerat placeat aliquid ducimus neque odio quis! Voluptatibus!</p>
                <p class="data-post">01/01/2000</p></a>                
            </div>
            <div class="card-vaga" id="card4"><a href="#">
                <h3>Titulo de la vaga 4</h3>
                <p class="nombre-emp">Nombe de la Empresa</p>
                <p class="localidad">Local de trabajo</p>
                <p class="descript">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusamus voluptate vel, dolores rem reprehenderit quae quibusdam laborum nesciunt minima, sequi harum quaerat placeat aliquid ducimus neque odio quis! Voluptatibus!</p>
                <p class="data-post">01/01/2000</p></a>                
            </div>
            <div class="card-vaga" id="card5"><a href="#">
                <h3>Titulo de la vaga 5</h3>
                <p class="nombre-emp">Nombe de la Empresa</p>
                <p class="localidad">Local de trabajo</p>
                <p class="descript">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusamus voluptate vel, dolores rem reprehenderit quae quibusdam laborum nesciunt minima, sequi harum quaerat placeat aliquid ducimus neque odio quis! Voluptatibus!</p>
                <p class="data-post">01/01/2000</p></a>                
            </div>
            <!-- <div class="card-vaga" id="card6"><a href="#">
                <h3>Titulo de la vaga 6</h3>
                <p class="nombre-emp">Nombe de la Empresa</p>
                <p class="localidad">Local de trabajo</p>
                <p class="descript">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusamus voluptate vel, dolores rem reprehenderit quae quibusdam laborum nesciunt minima, sequi harum quaerat placeat aliquid ducimus neque odio quis! Voluptatibus!</p>
                <p class="data-post">01/01/2000</p></a>                
            </div>
            <div class="card-vaga" id="card7"><a href="#">
                <h3>Titulo de la vaga 7</h3>
                <p class="nombre-emp">Nombe de la Empresa</p>
                <p class="localidad">Local de trabajo</p>
                <p class="descript">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusamus voluptate vel, dolores rem reprehenderit quae quibusdam laborum nesciunt minima, sequi harum quaerat placeat aliquid ducimus neque odio quis! Voluptatibus!</p>
                <p class="data-post">01/01/2000</p></a>                
            </div> -->
            <!-- <div class="card-vaga" id="8"><a href="#">
                <h3>Titulo de la vaga 8</h3>
                <p class="nombre-emp">Nombe de la Empresa</p>
                <p class="localidad">Local de trabajo</p>
                <p class="descript">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusamus voluptate vel, dolores rem reprehenderit quae quibusdam laborum nesciunt minima, sequi harum quaerat placeat aliquid ducimus neque odio quis! Voluptatibus!</p>
                <p class="data-post">01/01/2000</p></a>                
            </div>
            <div class="card-vaga" id="9"><a href="#">
                <h3>Titulo de la vaga 9</h3>
                <p class="nombre-emp">Nombe de la Empresa</p>
                <p class="localidad">Local de trabajo</p>
                <p class="descript">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusamus voluptate vel, dolores rem reprehenderit quae quibusdam laborum nesciunt minima, sequi harum quaerat placeat aliquid ducimus neque odio quis! Voluptatibus!</p>
                <p class="data-post">01/01/2000</p></a>                
            </div> -->
            
            
        </div>

        <!-- Detalles de la vaga seleccionada -->
        <div class="details-vaga" id="detalles-vaga">
            
        </div>
    </div>

    <script src="resources/js/vagas.js"></script>
</body>
</html>