*{
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
  }
  .article {
    background-color: #f2f2f2;
    border-radius: 5px 25px;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
  }
  .article h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  .article p {
    line-height: 1.5;
  }
  .article .flex{
    display: flex;
    flex-direction: column;
  }
  /* footer {
    background-color:#003063;
    color: #fff;
    padding: 20px;
    text-align: center;
  } */

  .button {
    background-color: #003063; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  /*estilos area de estudio*/
.container{
  border-radius:  5px 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.container  img {
  width: 15%;
  margin-left: 0;
  height: auto;
}
.container p{
  width: 85%;
  font-size: 18px;
  font-style: bold;
 
}

.info-edu h1 {
  color: white;
}
  
#info{
  gap: 20px;
 display: flex;
  padding: 20px;
  justify-content: space-around;
}
#recurso{
  gap: 20px;
  display: flex;
   padding: 20px;
   justify-content: space-around;
 }


.info-edu {
  position: absolute;
  top: 100px;
}

.info-edu{
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  flex: 1;
  max-width: 300px;
  border: 1px solid #003063;
  border-radius: 5px 25px;
  margin: 0 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f2f2f2;
}

.card-img {
  flex: 1;
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: contain;
  max-height: 200px; /* Ajusta esta altura según tus necesidades */
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-description {
  font-size: 14px;
  line-height: 1.5;
}


/*codigo de imagenes de cursos*/

#recurso {
  display: flex;
  flex-direction: row;
  
}

#recurso a {
  width: 320px;
  height: 180px;
  margin-right: 10px;
}

#recurso img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 2px solid #003063;
  border-radius: 5px 25px;
}