.canvas-container {
    width: 90%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
    margin: 3vh auto;
    
}

#myChart {
    display: block;
    box-sizing: border-box;
    height: 40vh;
    width: 100%;
    margin-top: 10vh;
}

#myChartpastel, .canvas-anillo {
    display: block;
    box-sizing: border-box;
    height: 325px;
    width: 325px;
    margin: auto;
}

.canvas-cant{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.card-cant {
    width: 300px;
    height: 25vh;
    margin: 2vh auto;
    background-color: blue;
}


.canvas-bar {
    width: 60vh;
    height: 50vh;
    background-color: #fff;
    margin: auto;
}

.canvas-pie, .canvas-anillo {
    margin: 5vh auto;
    width: 40vh;
    height: 40vh;
}

.canvas-bar h3, .canvas-pie h3, .canvas-anillo h3 {
    font-size: 1.5rem;
    text-align: center;
}

.card-cant {
    color: #fff;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.card-cant h2 {
    font-size: 5rem;
    line-height: 0rem;
    margin: auto;
    margin-bottom: 0
    ;
}

.card-cant p {
    font-size: 1.5rem;
    line-height: 0rem;
    margin: auto;
}

.filtros {
    display: flex;
}

/* .filtros input{
    width: 15px;
} */

.sidebar-box select{
    display:block;
    padding: 5px 10px;
    height:42px;
    margin:10px auto;
    min-width: 225px;
    border-radius: 10px;
    -webkit-appearance: none;
    height: 34px;
    /* background-color: #ffffff; */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
      background-repeat: no-repeat, repeat;
      background-position: right .7em top 50%, 0 0;
      background-size: .65em auto, 100%;}