  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}

.titulo {
  justify-content: center;
  text-align: center;
}

.job-title {
  color: #fff;
}

.main-info {
  color: #fff;
}

.container-vagas {
    width: 1000px;
    height: 80vh;
    /* background-color: blueviolet; */
   display: flex;
   flex-direction: row;
   margin: auto;
   margin-top: 10vh;

}

.lista-vagas {
    width: 500px;
    max-height: 100%;
    overflow: auto;
    border: 1px solid #3c97f1;
    border-radius: 5px;
    /* background-color: #707070; */
}

.lista-vagas::-webkit-scrollbar {
    display: none;
}

.card {
  border-radius: 25px;
  height: auto;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color:#ffffff00 ;
  color: #fff;
  border-color: #3c97f1;
}

.card button {
  background-color: #3c97f1;
  border-radius: 15px;
  color: #fff;
}

.card-vaga{
    width: 480px;
    height: 220px;
    border: 1px solid #3c97f1;
    border-radius: 5px;
    margin: 10px auto;
    padding: 25px;
}

.card-vaga h3 {
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.data-post, .nombre-emp, .localidad, .descript {
    color: #fff;
}
.nombre-emp, .localidad {
    margin-top: 0;
}

.descript {
    font-size: 12;
    margin: 15px auto;
    line-height: 13px;
}

 .data-post {
    margin-bottom: 0;
    font-size: 10px;
 }

 .details-vaga {
    width: 500px;
    max-height: 100%;
    overflow: auto;
    /* border: 1px solid #fff; */
    border-radius: 5px;
    background-color: #70707000;
 }

 .details-vaga::-webkit-scrollbar {
    display: none;
}
    