*{
    padding: 0;
    margin: 0;
}

   section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 90vh; */
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* max-width: 1200px; */
    align-items: center;
    padding: 20px;

    border-radius: 4px;
    background: transparent;
    border: 2px solid rgba(179, 178, 247, 0.637);
    border-radius: 20px;
    backdrop-filter: blur(15px);
  }

  .container-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
.part-form{
  margin: auto;
}
  
  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    color: black;
    width: 90%;

  }
  
  input[type="text"],
  input[type="date"] {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus,
  input[type="date"]:focus {
    outline: none;
    border-color: #000;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    /* background-color: #000; */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #333;
  }
  
 .titulo{
    text-align: center;
    color: black;
    margin-bottom: 20px;

  }
  
