* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    width: 100%;
}

section {
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li a {
    text-decoration: none;
}
.all {
    padding-bottom: 15px;
}

.top {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
    margin-left: 20px;
    display: flex;
}

.logo a {
    margin: auto;
}

.login {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
}

.lng-google {
    bottom: 0;
}

.menu-top {
    width: 100%;
    height: 10vh;
    background-color: #004FA3;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.pages {
    width: auto;
    display: flex;
    align-items: center;
}

.btn img {
    width: 80%;
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(43deg) brightness(107%) contrast(100%);
}

.pages button {
    width: auto;
    color: #fff;

}

.srch-btn {
    width: 15%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loged {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loged img {
    width: 50px;
    height: 50px;
}

.header {
    width: 850px;
    display: flex;
    margin: 50px auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.portada {
    width: 800px;
    height: 200px;
    margin:0  auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.portada img{
    width: 50px;
    height: 50px;
}

.btn {
    width: 200px;
    height: 50px;
    margin: 15px;
    font-weight: 500;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #707070;
}

.info-contact {
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 50px auto;
    margin-bottom: 50px;
    border: 1px solid  #707070;
    border-radius: 10px;
}

.detail-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    margin: auto;
}
.detail-info img {
    width: 20px;
    height: 20px;
    margin-left: 25px;
}
.detail-info p {
    color: #4e4e4e;
    font-size: 1.2rem;
    margin-left: 15px;
}

.sections {
    width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-sect {
    font-size: 1.2rem;
    transition: .25s;
}

.btn-sect:hover {
    border-bottom: 3px solid #4e4e4e;
}