* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/fon.jpg");
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img-resposive 


section {
    width: 100%;
    /* height: 40vh; */
    display: flex;
}

nav {
    position: fixed;
    z-index: 5;
    width: 100%;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
 li a {
     text-decoration: none; 
} 

.all {
    top: 0;
}

.top {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
    margin-left: 20px;
    display: flex;
}

.logo a {
    margin: auto;
}

.login {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
}

.lng-google {
    bottom: 0;
}

.menu-top {
    width: 100%;
    height: 10vh;
    background-color: #004FA3;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.pages {
    width: auto;
    display: flex;
    align-items: center;
}

.btn img {
    width: 80%;
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(43deg) brightness(107%) contrast(100%);
}

.btn img:hover {
    filter: invert(36%) sepia(86%) saturate(2765%) hue-rotate(196deg) brightness(100%) contrast(103%);
}

.btn:hover {
    color: #0780fa;
}

.pages button {
    width: auto;
    color: #fff;

}

.srch-btn {
    width: 20%;
    /* margin-right: -15%; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.srch-btn a {
    width: auto;
    height: 45px;
}

.gtranslate_wrapper {
    /* margin: auto;     */
    padding: 10px 15px 15px 15px;
    /* align-content: center; */
    /* display: flex;
    flex-direction: column;
    align-items: center */
}

.wellcome {
    width: 60%;
    max-width: 850px;
    height: 65vh;
    margin: 20vh auto;
    backdrop-filter: blur(15px);
    border: 1px solid #3c97f1;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    /* margin: auto; */
    margin-top: 40px;
}

.info-title {
    width: 90%;
    height: auto;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
}

.card-container {
    width: 80%;
    height: auto;
    display: grid;
    margin: auto;
    grid-template-columns: 400px 400px 400px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 600px 600px; */
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
}

.card {
    /* width: 30%; */
    border-radius: 25px;
    height: auto;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.card-img {
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 2vh; */
}

.card-descrip {
    font-size: 1rem;
}


.loged {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loged img {
    width: 50px;
    height: 50px;
}

.migrante {
    width: 70%;
    max-width: 600px;
    height: 90vh;
    margin: 25vh auto;
    backdrop-filter: blur(15px);
    border: 1px solid #3c97f1;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center
    /* background-image: url("../img/migrante.jpg");
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat; */
}
.migrante img {
    width: 94%;
    height: 45vh;
    border-radius: 15px;
    margin-top: -90px;
}

.empresas {
    width: 70%;
    max-width: 600px;
    height: 90vh;
    margin: 25vh auto;
    backdrop-filter: blur(15px);
    border: 1px solid #3c97f1;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center
    /* background-image: url("../img/empresa.jpg");
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
     */
}

.empresas img {
    width: 94%;
    height: 45vh;
    border-radius: 15px;
    margin-top: -100px;
}

.imfo { 
    /* margin-top: -270px; */
    margin: -14% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid: gap 15px;
}

.imfo button {
    border-color: bisque;
    width: 135px;
    border-radius: 10px;
    color: white;
    background-color: #004FA3;
    text-align: center;
}

.imfo button:hover{
 color: #3c97f1;
 width: 140px;
}