*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}

.container-vagas {
    width: 1000px;
    height: 80vh;
    /* background-color: blueviolet; */
   display: flex;
   flex-direction: row;
   margin: auto;
   margin-top: 10vh;

}

.lista-vagas {
    width: 500px;
    max-height: 100%;
    overflow: auto;
    border: 1px solid #000;
    border-radius: 5px;
    /* background-color: #707070; */
}

.lista-vagas::-webkit-scrollbar {
    display: none;
}

.card-vaga{
    width: 480px;
    height: 220px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px auto;
    padding: 25px;
}

.card-vaga h3 {
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.data-post, .nombre-emp, .localidad, .descript {
    color: #707070;
}
.nombre-emp, .localidad {
    margin-top: 0;
}

.descript {
    font-size: 12;
    margin: 15px auto;
    line-height: 13px;
}

 .data-post {
    margin-bottom: 0;
    font-size: 10px;
 }

 .details-vaga {
    width: 500px;
    max-height: 100%;
    overflow: auto;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #707070;
 }

 .details-vaga::-webkit-scrollbar {
    display: none;
}